#####################################
####	THIS IS A CONFIG FILE	 ####
#####################################

fit test

reaction double_regge eta pi p
sum double_regge s1

amplitude  double_regge::s1::phase jpacAmplitude<Model_3.0> [az1] [ap1] [az2] [ap2] [v10] [v11] [v12] [v20] [v21] [v22]
initialize double_regge::s1::phase cartesian 1.0 0.0 real fixed

# Initialize parameters
parameter az1 0.20   fixed
parameter ap1 0.99   fixed
parameter az2 0.11   fixed
parameter ap2 0.76   fixed
parameter v10 1.0    fixed
parameter v11 0.5    fixed
parameter v12 0.0    fixed
parameter v20 0.0    fixed
parameter v21 0.0    fixed
parameter v22 0.0    fixed