#####################################
####	THIS IS A CONFIG FILE	 ####
#####################################

fit test

reaction DECAYLESS b1 delta

sum DECAYLESS s1

# the pion exchange amplitude (regge::unnatural_exchange) has 3 free parameters
# while the rho exchange (regge::natural_exchange) has 6
# so the total amplitude has 9
amplitude  DECAYLESS::s1::pi_and_rho jpacAmplitude [gPiB1]  [gPiDelta] 0.7 [g1RhoB1] [g2RhoB1] [g3RhoB1] [g1RhoDelta] [g2RhoDelta] 0.9
initialize DECAYLESS::s1::pi_and_rho cartesian 1.0 0.0 real fixed

# Initialize parameters
parameter gPiB1      0.241   fixed
parameter gPiDelta   3.07    fixed
parameter g1RhoB1    1.0     fixed
parameter g2RhoB1    1.0     fixed
parameter g3RhoB1    1.0     fixed
parameter g1RhoDelta 0.5     fixed
parameter g2RhoDelta 0.2     fixed
